body {
   margin: 0px;
}

/* menu de opciones */

#nav_bar {
  background: rgba(255,255,255, 0.4);
  color: pink;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0px;
  text-align: center;
}
.nav_item {
  display: inline;
  width: 300px;
  padding: 90px;
  color: pink;
}

.container {
    display: center;
    border: 2px solid snow;
}
#text{
  border-radius: 20px;
  background: rgba(255,255,255, 0.4);
  position: relative;
  text-align: center;
  font-size: 70px;
  width: 1000px;
  top: 40%;
  left:50%;
  transform: translate(-50%, -50%);
  
}
#imagen1 {
  border: 2px solid pink;
  padding: 5%;
  background-image: url(https://images2.alphacoders.com/115/thumb-1920-1151577.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
}
h1 {
  font-family: 'Smooch', cursive;
  font-family: 'Splash', cursive;
  font-family: 'Yellowtail', cursive;
}

/* Hobbies */

/* imagen fondo hobbies */
#all {
  padding: 5%;
  background: url(https://images3.alphacoders.com/677/thumb-1920-677357.png);
  background-position: center;
}

/* animacion hobbies */
h2 {
  font-family: 'Smooch', cursive;
  font-family: 'Splash', cursive;
  font-family: 'Yellowtail', cursive;
}
.animacion{
  font-size: 2em;
  font-family: 'Satisfy', cursive;
  width: 480px;
  min-height: 100px;
  padding: 6px;
  margin: 10px auto;
  text-align: center;
  border-radius: 5px;
  animation-fill-mode: forwards;
  animation: color-change 5s infinite;
}
@keyframes color-change {
  
  20%{
    color: blue;
    background: pink;
  }
  40%{
    color: green;
    background: skyblue;
  }
  60%{
    color: red;
    background: skyblue;
  }
  80%{
    color: blue;
    background: pink;
  }
  100%, 0%{
    color: black;
    background: yellow;
  }

}
/* galeria de los 3 cuadros de anime, juegos y musica */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.gallery-item {
  margin: 50px;
}

.gallery-item .thumbnail {
  width: 400px;
  border: 2px solid black;
  border-radius: 5px;
}

/* contenido de la imagen del anime */
.h2anime{
  font-family: 'Smooch', cursive;
  position: relative;
  text-align: left;
  font-size: 550%;
  left: 1%;
  color: pink;
}
.flexanime {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.favoritetittle {
  position: relative;
  text-align: center;
  font-family: 'Yellowtail', cursive;
  font-size:300%;
}
/* Sinopsis del anime*/
.sinopsis {
  position: relative;
  text-align: left;
  left: 1%;
  font-family: 'Yellowtail', cursive;
  font-size:190%;
}
.psinopsis {
  font-size: 2em;
  text-align: justify;
  font-family: 'Yellowtail', cursive;
  pading-left:20px;
}
#sino_img {
  height: 400px;
  width: auto;
  float: right;
  margin: 15px;
}
/* Videos :D*/
.tittlemedia {
  text-align: center;
  font-size:230%;
  font-family: 'Yellowtail', cursive;
}
.container2 {
  display: flex;
  border: 80px solid snow;
  padding: 5%;
  background: url(https://images8.alphacoders.com/101/thumb-1920-1016496.jpg);
  background-position: center;
}
.week {
  display: inline-flex;
  flex-grow: 0.1;
  flex-direction: column;
}
.row {
  min-height: px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.media {
  width: 460px; 
  height: 215px;
}
/* banner con frase */
.container3 {
    display: center;
    border: 2px solid snow;
}
.tdarling, .frase1 {
  font-family: 'Yellowtail', cursive;
}
#zerotwo {
  border: 2px solid pink;
  padding: 2%;
  background-image: url(https://images.alphacoders.com/957/thumb-1920-957296.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
}
#frase{
  border-radius: 20px;
  background: rgba(207, 145, 178, 0.3);
  position: relative;
  text-align: center;
  font-size: 40px;
  width: 65%;
  top: 40%;
  left:50%;
  transform: translate(-50%, -50%);
}
/* contenido de la imagen de games*/
.allsub1 {
   background: url(https://wpassets.halowaypoint.com/wp-content/2022/05/05_HaloInfiniteSeason2-Breaker.jpg);
  background-position: center;
}
/* Titulo y el texto de (click on images) */
.h2games{
  font-family: 'Merienda', cursive;
  position: relative;
  text-align: left;
  font-size: 300%;
  left: 1%;
  color: black;
}
.pgames {
  font-family: 'Merienda', cursive;
  font-size: 300%;
  color: black;
}
/* Flex del apartado games*/
.flexgames{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 5px;
}
/* Contenedor de los elementos games*/
.container4 {
  display: flex;
  border: 10px;
  padding: 5%;
  background-position: center;
}
  /* galery imagenes games */
 
.gallery-games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -100px;
}

.gallery-item-games {
  margin: 20px;
}

.gallery-item-games .game1 {
  width: 260px;
  border: 2px solid GhostWhite;
  border-radius: 5px;
}
/* Contenido de la imagen musica*/
.allsub3{
  padding: 7%;
   background: url(https://images2.alphacoders.com/301/thumb-1920-3010.png);
  background-position: center;
}
/* Mini banner de la musica*/
#textmusic{
  border-radius: 25px;
  background: rgba(226,24,199,0.4);
  position: relative;
  text-align: center;
  font-size: 25px;
  width: 1600px;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.h2music {
  font-family: 'Merienda', cursive;
  font-size: 300%;
  color: black;
}
.flexmusic{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 5px;
}
.container5{
  display: flex;
  border: 10px;
  padding: 5%;
  background-position: center;
}
  /* galery music */
 
.gallery-musica {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -80px;
}

.gallery-item-musica {
  margin: 10px;
}
